
/* ESTILO GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #141414;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.interface hr{
    border-color: #e6d5b8;
    border-width: 2px;
}

.flex{
    display: flex;
}

.pbl_contato button{
    color: #e6d5b8;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #d81732;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}/* estiliza botão contato */

.pbl_contato button:hover{
    box-shadow: 0px 0px 8px #d81732;
}

h1::after{
    content: "</>";
    color: #ffe500;
}

h2.titulo{
    margin-top: 40px;
    color: #e6d5b8;
    font-size: 35px;
    text-align: center;
}

h2.titulo2{
    color: #e6d5b8;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
}

h2.titulo3{
    color: #e6d5b8;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

/* ESTILO CABEÇALHO */
#img{
    height: 200px;
}

header{
    padding: 40px 4%; 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #837816;
    display: inline-block;
    text-decoration: none; 
    /* remove sublinhado */
}

header a:hover{
    color: #ffe500;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
    font-weight: 800;
    font-size: 25px;
}/* remove o estilo da lista não numerada */

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}/* lista dado a lado */


/* ESTILO TOPO */
#Imagem2{
    height: 350px;
    width: 350px;
}

section.topo_do_site{
    padding: 100px 4%;
    box-shadow: 0 10px 40px 20px #333333;
}

section.topo_do_site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo_do_site .txt_topo_site h1{
    color: #e6d5b8;
    font-size: 30px;
}

.topo_do_site .txt_topo_site p{
    color: #e6d5b8;
    font-size: 18px;
    margin: 40px 0px;
}

.topo_do_site .txt_topo_site h1 span{
    color: #ffe500;
    font-size: 120px;
}

.topo_do_site .txt_topo_site .pbl_contato button:hover{
    transform: scale(1.05);
    transition: .3s;
}

.topo_do_site .img_topo_site img{
    position: relative;
    animation: flutua 3s ease-in-out infinite alternate;
}/* animação de imagem */

@keyframes flutua{
    0%{
        left: -50px;
    }
    100%{
        left: 20px;
    }
}/* animação de imagem */

/* ESTILO SOFTSKILLS */

section.skills {
    padding: 40px 4%;
}

section.skills .flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 60px;
}

.skills .softskills{
    color: #e6d5b8;
    padding: 40px 4%;
    border-radius: 80px;
    margin-bottom: 40px;
}

.skills .softskills:hover{
    box-shadow: 0 0 40px #ffe60083;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}

.skills .softskills img{
    color: #ffe500;
    height: 80px;
    margin: 20px;   
}

.skills .softskills h3{
    padding: 20px;
    font-size: 20px;
    color: #d81732;
    line-height: 20px;
}

.skills .softskills p{
    padding: 20px;
}


/* ESTILO HARDSKILLS */


.skills .hardskills{
    color: #e6d5b8;
    padding: 40px 4%;
    border-radius: 80px;
    margin-bottom: 40px;
}

.skills .hardskills:hover{
    box-shadow: 0 0 40px #ffe60083;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}

.skills .hardskills img{
    color: #ffe500;
    height: 80px;
    margin: 20px;
}

.skills .hardskills h3{
    padding: 20px;
    font-size: 20px;
    color: #d81732;
    line-height: 20px;
}

.skills .hardskills p{
    padding: 20px;
}

/* ESTILO SOBRE MIM */

section.sobre{
    padding: 40px 4%;
    box-shadow: 0 10px 40px 20px #333333;
}

.sobre .imgsobre img{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 550px;
    border-radius: 100%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

section.sobre .txtsobre h2{
    padding: 20px;
    color: #e6d5b8;
    font-size: 38px;
}

section.sobre .txtsobre h2 span{
    color: #ffe500;
}

section.sobre .txtsobre p{
    color: #e6d5b8;
    font-size: 18px;
    padding: 20px;
}

section.sobre .txtsobre p span{
    color: #d81732;
}

section.sobre .txtsobre button img{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
}

section.sobre .txtsobre .btn_redes button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #d81732;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

section.sobre .txtsobre .btn_redes button:hover{
    transition: 0.1s;
    box-shadow: 0 0 12px #d81732;
}

section.sobre .txtsobre .pbl_contato button{
    color: #141414;
    margin-left: 65%;
}

section.sobre .txtsobre .pbl_contato button:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

/* ESTILO PROJETOS */

section.projetos .projeto{
    padding: 100px 4%;
    margin-bottom: 60px;
}

.projetos .flex{
    align-items: center;
    justify-content: center;
}

.projetos .projeto a img{
    filter: opacity(0.5);
    height: 400px;
    width: 300px;
    border-radius: 10%;
    border: none;
}

.projetos .projeto a img:hover{
    filter: none;
    transition: 0.1s;
    transform: scale(1.05);
    box-shadow: 0 0 16px #e6d5b8;
}

.projetos .projeto h3{
    color: #d81732;
    font-size: 20px;
    margin-bottom: 40px;
}

/* ESTILO CONTATO */

section.contato{
    padding: 40px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    color: #e6d5b8;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
    outline: none; 
    padding-left: 20px;
}

form textarea{
    color: #e6d5b8;
    background-color: #333333;
    resize: none;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

input[type="submit"]{
    color: #e6d5b8;
    border: none;
    border-radius: 10px;
    background-color: #d81732;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-align: center; 
    padding-left: 0;
    margin-bottom: 60px;
}

form .btn-enviar input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
    box-shadow: 0 0 12px #d81732;
}

section.contato .volta-topo{
    display: flex;
    justify-content: center;
}

section.contato .volta-topo a{
    color: #d81732;
    font-size: 18px;
}

/* ESTILO RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow: 0 10px 40px 20px #333333;
    background-color: #242424;
}

footer img{
    height: 150px;
}

footer .flex{
    justify-content: space-between;
}

footer .btn_redes button img{
    height: 30px;
    margin-top: 10px;
}

footer .btn_redes button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #d81732;
    font-size: 30px;
    cursor: pointer;
}


footer .btn_redes button:hover{
    transition: 0.1s;
    box-shadow: 0 0 12px #d81732;
}

footer .linha-footer p{
    margin-top: 40px;
}

footer .linha-footer p i{
    padding: 40px;
    color: #d81732;
    font-size: 20px;
}

footer .linha-footer p i a{
    color: #ffe500;
    font-size: 16px;
}
